@import url("https://use.typekit.net/jgk8xcg.css");


.slot-wrapper-large {
  padding: 0px 14px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #F7FAFF 0%, #FFFCF7 100%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.tagline {
  display: flex;
  align-items: center;
  white-space: nowrap;     /* ✅ prevents line break */
  overflow: hidden;  
}

.tagline-text-large {
  font-weight: 300;
  font-size: 14px;
  color: #001234;
  margin-right: 6px;
}

.tagline-brand {
  display: flex;
  align-items: center;
}

.brand-part {
  font-weight: 500;
  font-size: 14px;
  color: #001234;
}

.slot-large {
  height: 40px;
  width: 14px;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin: 0;
  border-radius: 12px;
  box-shadow: none;
}

.slot::before,
.slot::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 2;
  pointer-events: none;
}

.slot::before {
  top: 0;
  background: linear-gradient(to bottom, #FFFCF7 0%, transparent 100%);
}

.slot::after {
  bottom: 0;
  background: linear-gradient(to top, #FFFCF7 0%, transparent 100%);
}

.slot-track {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  mask-image: linear-gradient(to bottom, black 0%, black 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.slot-item.final-s {
  font-size: 16px;
  font-family: 'mendl-sans-dawn', sans-serif;
  color: #FFAA00;
  font-weight: 400;
}

.slot-item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 10px;*/
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #001234;
}

.final-s {
  font-family: 'mendl-sans-dawn', sans-serif;
  color: #FFAA00;
  font-weight: 400;
  /*font-size: 10px;*/
}
